# Pliki binarne i katalogi
bin/
obj/

# Pliki tymczasowe
*.log
*.tmp

# Pliki konfiguracji IDE
.vs/
*.suo
*.user

# Pliki systemu operacyjnego
.DS_Store
Thumbs.db

# Lokalna konfiguracja środowiska
appsettings.Development.json